@charset "UTF-8";
:root {
  --dark-accent: #2196f3;
  --accent: #188ce8;
  --dark-text: #212121;
  --dark-background: #2f303a;
  --main: #ffffff;
  --light-border: #eeeeee;
  --second-text-color: #757575;
  --link-color: #afb1b8;
  --light-background: #f5f4fa;
  --header-line: #ececec;
  --dark: #000000;
  --error: red;
  --anim1: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 30px;
}

.visually-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  font-family: "Roboto", "sans-serif";
  background-color: var(--main);
  color: var(--second-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
body .no-scroll {
  overflow-y: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo,
.link a,
.link {
  text-decoration: none;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.card-set__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-icon:hover, .mobile-menu-icon:focus {
  fill: var(--dark-accent);
}

.mobile-menu-burger {
  -webkit-transition: var(--anim1);
  transition: var(--anim1);
}
.mobile-menu-btn.is-open .mobile-menu-burger {
  opacity: 0;
}
.mobile-menu-burger:hover, .mobile-menu-burger:focus {
  fill: var(--dark-accent);
}

.mobile-menu-close {
  opacity: 0;
  -webkit-transition: var(--anim1);
  transition: var(--anim1);
}
.mobile-menu-btn.is-open .mobile-menu-close {
  opacity: 1;
}
.mobile-menu-close:hover, .mobile-menu-close:focus {
  fill: var(--dark-accent);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--main);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  z-index: 100;
  transition: opacity 700ms var(--anim1), visibility 700ms var(--anim1), transform 1600ms var(--anim1), -webkit-transform 1700ms var(--anim1);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.is-open {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: opacity 1800ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1800ms cubic-bezier(0.4, 0, 0.2, 1), transform 1600ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.mobile-menu-nav-item > a {
  color: #212121;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

a.mobile-menu-nav-current {
  color: #2196f3;
}

.mobile-menu-contacts {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.mobile-menu-contacts-item a {
  color: var(--second-text-color);
}

.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts-item .accent {
  font-size: 34px;
  color: var(--dark-accent);
}

.mobile-menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.mobile-menu-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--dark-accent);
}

.mobile-menu-social-item:not(:last-child) .mobile-menu-social-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.button {
  padding: 10px 32px;
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;
  background-color: var(--dark-accent);
  color: var(--main);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: background-color var(--anim1), -webkit-box-shadow var(--anim1);
  transition: background-color var(--anim1), -webkit-box-shadow var(--anim1);
  transition: background-color var(--anim1), box-shadow var(--anim1);
  transition: background-color var(--anim1), box-shadow var(--anim1), -webkit-box-shadow var(--anim1);
}
.button:hover, .button:focus {
  background-color: var(--accent);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo,
.logo * {
  font-family: "Raleway", "sans-serif";
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--dark-accent);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 28px;
  }
}
.logo__accent-header {
  color: var(--dark-text);
}
.logo__accent-footer {
  color: var(--main);
}

@media screen and (min-width: 768px) {
  .logoWrapper {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logoWrapper {
    margin-right: 94px;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
    margin-right: 60px;
  }
}

.nav-link a:hover,
.nav-link a:focus,
.footer-list-link:hover,
.footer-list-link:focus,
.footer-list-address-link:hover,
.footer-list-address-link:focus {
  color: var(--dark-accent);
}

.nav-link a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color var(--anim1);
  transition: color var(--anim1);
}

@media screen and (min-width: 768px) {
  li.nav-link:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-link-active a {
  position: relative;
  color: var(--dark-accent);
}

.nav-link-active a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  display: inline-block;
  margin-right: 10px;
  background-color: var(--dark-accent);
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .nav-link-active a::after {
    -webkit-transform: translateY(34px);
            transform: translateY(34px);
  }
}
@media screen and (min-width: 1200px) {
  .nav-link-active a::after {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
  }
}

/* Кастомный скролбар */
html::-webkit-scrollbar {
  display: none;
  width: 7px; /* ширина для вертикального скролла */
  height: 7px; /* высота для горизонтального скролла */
  background-color: transparent;
}

/* ползунок скроллбара */
html::-webkit-scrollbar-thumb {
  background-color: var(--dark-accent);
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
          box-shadow: inset 1px 1px 10px #f3faf7;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
}

/* Стрелки */
/*  */
.connection {
  display: none;
}
@media screen and (min-width: 768px) {
  .connection {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .connection-item:not(:last-child) {
    margin-right: 30px;
  }
}

.connection-link {
  font-weight: 500;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--anim1);
  transition: color var(--anim1);
}
.connection-link:hover, .connection-link:focus {
  color: var(--dark-accent);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .connection-link {
    margin-bottom: 10px;
  }
}

.connection-icon {
  margin-right: 10px;
  fill: currentColor;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--dark-text);
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--link-color);
  background-color: var(--main);
  border-radius: 50%;
  -webkit-transition: color var(--anim1), background-color var(--anim1);
  transition: color var(--anim1), background-color var(--anim1);
}
.social-media-link:hover, .social-media-link:focus {
  color: var(--main);
  background-color: var(--dark-accent);
}

.social-media-icon {
  fill: currentColor;
}

.social-media-item:not(:last-child) {
  margin-right: 10px;
}

.subscribe-form-input {
  padding: 15px 16px;
  margin-bottom: 20px;
  min-width: 290px;
  height: 50px;
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim1);
  transition: border-color var(--anim1);
}
.subscribe-form-input:focus {
  border: 1px solid var(--accent);
  outline: none;
  background-color: transparent;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .subscribe-form-input {
    width: 450px;
  }
  .subscribe-form-input label {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form-input {
    margin-bottom: 20px;
    width: 450px;
  }
  .subscribe-form-input label {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form-input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.backdrop {
  background: var(--backdrop);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  z-index: 90;
  transition: opacity 700ms var(--anim1), visibility 700ms var(--anim1), transform 1600ms var(--anim1), -webkit-transform 1700ms var(--anim1);
}
@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 40px;
  }
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0) rotateX(77deg);
          transform: scale(0) rotateX(77deg);
  transition: opacity 700ms var(--anim1), visibility 700ms var(--anim1), transform 1600ms var(--anim1), -webkit-transform 1700ms var(--anim1);
}

.close-btn {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: color var(--anim1);
  transition: color var(--anim1);
}
.close-btn:hover {
  color: var(--dark-accent);
}

.modal-close-icon {
  fill: currentColor;
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 16px;
  outline: 2px solid var(--dark);
  outline-offset: -2px;
  border-radius: 2px;
  -webkit-transition: outline-color var(--anim1), fill var(--anim1), background-color var(--anim1);
  transition: outline-color var(--anim1), fill var(--anim1), background-color var(--anim1);
}

.form-custom-checkbox svg {
  fill: var(--main);
}

.form-custom-checkbox:hover {
  outline-color: var(--accent);
}

.form-checkbox input:checked + .form-custom-checkbox {
  background-color: var(--accent);
  outline-color: var(--accent);
}

.form-checkbox input:checked + .form-custom-checkbox svg {
  fill: var(--main);
}

.form-checkbox input:checked + .form-custom-checkbox:hover {
  background-color: var(--main);
}

.form-checkbox input:checked + .form-custom-checkbox:hover svg {
  fill: var(--accent);
}

.form-checkbox input {
  width: 0;
  height: 0;
  -webkit-transition: outline-color var(--anim1), fill var(--anim1), background-color var(--anim1);
  transition: outline-color var(--anim1), fill var(--anim1), background-color var(--anim1);
}

.form-checkbox-lable {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  padding-left: 8px;
}
@media screen and (min-width: 1200px) {
  .form-checkbox-lable {
    font-size: 14px;
    line-height: 1.71;
  }
}

.submit-check-agree {
  color: var(--dark-accent);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  overflow: hidden;
  -webkit-transition: -webkit-transform 450ms var(--anim1);
  transition: -webkit-transform 450ms var(--anim1);
  transition: transform 450ms var(--anim1);
  transition: transform 450ms var(--anim1), -webkit-transform 450ms var(--anim1);
}

.section-header {
  border-bottom: 1px solid var(--header-line);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 15px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--main);
  -webkit-transition: background-color var(--anim1), -webkit-backdrop-filter var(--anim1), -webkit-box-shadow var(--anim1);
  transition: background-color var(--anim1), -webkit-backdrop-filter var(--anim1), -webkit-box-shadow var(--anim1);
  transition: background-color var(--anim1), backdrop-filter var(--anim1), box-shadow var(--anim1);
  transition: background-color var(--anim1), backdrop-filter var(--anim1), box-shadow var(--anim1), -webkit-backdrop-filter var(--anim1), -webkit-box-shadow var(--anim1);
}

.hero {
  background-color: var(--dark-background);
  padding: 200px 0;
}

.hero-overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: var(--dark-background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-sm.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-sm.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-sm@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-sm@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-md.jpg);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-md@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-md@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-lr.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-lr.jpg);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-lr@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-lr@2x.jpg);
  }
}

.hero-title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main);
}
@media screen and (min-width: 480px) {
  .hero-title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}
.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--dark-text);
}
@media screen and (max-width: 480px) {
  .features__title {
    text-align: center;
  }
}
.features__description {
  margin-top: 10px;
  line-height: 1.7;
  color: var(--second-text-color);
}

@media screen and (min-width: 1200px) {
  .features-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.features-item {
  --items: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .features-item {
    --items: 2;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features-item {
    --items: 4;
  }
}
.features-item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--light-background);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}
.features-item:nth-child(1):before {
  background-image: url(../images/icons/antenna.svg);
}
.features-item:nth-child(2):before {
  background-image: url(../images/icons/clock.svg);
}
.features-item:nth-child(3):before {
  background-image: url(../images/icons/diagram.svg);
}
.features-item:nth-child(4):before {
  background-image: url(../images/icons/astronaut.svg);
}

.our-work {
  display: none;
}
@media screen and (min-width: 768px) {
  .our-work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .our-work {
    display: block;
  }
}
.our-work__item {
  position: relative;
}
.our-work__item:not(:last-child) {
  margin-right: 30px;
}
.our-work__desc {
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--main);
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

.our-team {
  background-color: var(--light-background);
}

@media screen and (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-list-item {
  background-color: var(--main);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  --items: 1;
}
@media screen and (min-width: 768px) {
  .team-list-item {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .team-list-item {
    --items: 4;
  }
}

.team-member-description {
  padding: 30px 0;
}

.team-member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  color: var(--dark-text);
  margin-bottom: 10px;
}
.team-member-position {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.our-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-clients-item {
  height: 92px;
  border: 1px solid var(--link-color);
  border-radius: 4px;
  --items: 2;
}
@media screen and (min-width: 768px) {
  .our-clients-item {
    --items: 3;
  }
}
@media screen and (min-width: 1200px) {
  .our-clients-item {
    --items: 6;
  }
}

.our-clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--link-color);
  background-color: var(--main);
  width: 100%;
  height: 100%;
  -webkit-transition: color var(--anim1), border-color var(--anim1);
  transition: color var(--anim1), border-color var(--anim1);
}
.our-clients-link:hover, .our-clients-link:focus {
  color: var(--dark-accent);
  border-color: var(--dark-accent);
}

.our-clients-icon {
  fill: currentColor;
}

.page-footer {
  background-color: var(--dark-background);
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 93px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-adress {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-adress {
    margin-right: 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.address {
  margin-top: 20px;
  margin-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list-link,
.footer-list-address-link {
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--anim1);
  transition: color var(--anim1);
}

.footer-list-address-link {
  color: var(--main);
}

.footer-social-slogan {
  margin-bottom: 20px;
}

.footer-social-slogan strong {
  color: var(--main);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-media-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-media-icon-footer {
  fill: var(--main);
}

.footer-social-link {
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .footer-social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social-link {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social-link {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscribe {
    text-align: center;
    margin: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  form[name=subscribe-form] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.submit-button-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: background-color var(--anim1);
  transition: background-color var(--anim1);
}
.submit-button-footer:hover, .submit-button-footer:focus {
  -webkit-transform: scale(1.001);
          transform: scale(1.001);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .submit-button-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe-icon-footer {
  margin-left: 10px;
  text-align: center;
  fill: var(--main);
}

.modal {
  background: var(--main);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 450px;
  max-width: 100%;
  height: 609px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: auto;
  }
}
.modal__title {
  height: 60px;
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    width: 448px;
    line-height: 1.15;
  }
}

.singup-form {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  position: relative;
}

.form-field-container:not(:last-of-type) {
  margin-bottom: 10px;
}

.form-field-container:nth-last-child(3) {
  margin-bottom: 20px;
}

.form-field-container:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form-field-label {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  display: inline-block;
  margin-bottom: 4px;
}

.form-field,
.form-field-area {
  display: block;
  width: 100%;
  height: auto;
}

.form-field {
  position: relative;
  max-height: 40px;
}

.form-field input,
.form-field-area textarea {
  width: inherit;
  height: inherit;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim1);
  transition: border-color var(--anim1);
}

.form-field input {
  padding: 12px 8px 12px 42px;
  width: 100%;
  outline: none;
}

.form-field-area textarea {
  width: 100%;
  max-height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: none;
}

.form-field input:not(:-moz-placeholder-shown), .form-field-area textarea:not(:-moz-placeholder-shown) {
  border-color: var(--dark-accent);
}

.form-field input:not(:-ms-input-placeholder), .form-field-area textarea:not(:-ms-input-placeholder) {
  border-color: var(--dark-accent);
}

.form-field input:hover,
.form-field input:focus-within,
.form-field input:not(:placeholder-shown),
.form-field-area textarea:hover,
.form-field-area textarea:focus-within,
.form-field-area textarea:not(:placeholder-shown) {
  border-color: var(--dark-accent);
}

.form-field input:not(:-moz-placeholder-shown):invalid, .form-field-area textarea:not(:-moz-placeholder-shown):invalid {
  border-color: var(--error);
}

.form-field input:not(:-ms-input-placeholder):invalid, .form-field-area textarea:not(:-ms-input-placeholder):invalid {
  border-color: var(--error);
}

.form-field input:not(:placeholder-shown):invalid,
.form-field-area textarea:not(:placeholder-shown):invalid {
  border-color: var(--error);
}

.form-field svg {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 12px;
  -webkit-transition: fill var(--anim1);
  transition: fill var(--anim1);
}

.form-field input:not(:-moz-placeholder-shown) + svg {
  fill: var(--dark-accent);
}

.form-field input:not(:-ms-input-placeholder) + svg {
  fill: var(--dark-accent);
}

.form-field:hover svg,
.form-field:focus-within svg,
.form-field input:not(:placeholder-shown) + svg {
  fill: var(--dark-accent);
}

.submit-button-modal {
  display: block;
  min-width: 180px;
  padding: 10px 55px;
  margin: 0 auto;
}
.submit-button-modal:hover, .submit-button-modal:focus {
  background-color: var(--accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 2px 6px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 2px 6px 6px rgba(0, 0, 0, 0.15);
}

/* Страница портфолио */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  list-style: none;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--light-background);
  border-radius: 4px;
  border: none;
  color: var(--dark-text);
  cursor: pointer;
  font-family: inherit;
  padding: 6px 22px;
  -webkit-transition: color var(--anim1), background-color var(--anim1), -webkit-box-shadow var(--anim1);
  transition: color var(--anim1), background-color var(--anim1), -webkit-box-shadow var(--anim1);
  transition: color var(--anim1), background-color var(--anim1), box-shadow var(--anim1);
  transition: color var(--anim1), background-color var(--anim1), box-shadow var(--anim1), -webkit-box-shadow var(--anim1);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--dark-accent);
  color: var(--main);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-list__item {
  border: 1px solid var(--light-border);
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
  gap: 30px;
  --items: 1;
}
@media screen and (min-width: 768px) {
  .project-list__item {
    --items: 2;
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .project-list__item {
    --items: 4;
    -ms-flex-preferred-size: 370px;
        flex-basis: 370px;
  }
}

.project-list__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--anim1);
  transition: -webkit-box-shadow var(--anim1);
  transition: box-shadow var(--anim1);
  transition: box-shadow var(--anim1), -webkit-box-shadow var(--anim1);
}
.project-list__link:hover, .project-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list__link:hover .portfolio-overlay,
.project-list__link:focus .portfolio-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.list-item-description {
  padding: 20px 24px;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-item-description {
    min-height: 146px;
  }
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-text);
  margin-bottom: 4px;
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-text-color);
}

.portfolio-desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main);
  width: 402px;
}
@media screen and (min-width: 768px) {
  .portfolio-desc {
    width: 306px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-desc {
    width: 322px;
  }
}/*# sourceMappingURL=main.css.map */