.mobile-menu-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  z-index: 1000;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-icon {
  &:hover,
  &:focus {
    fill: var(--dark-accent);
  }
}

.mobile-menu-burger {
  transition: var(--anim1);
  .mobile-menu-btn.is-open & {
    opacity: 0;
  }

  &:hover,
  &:focus {
    fill: var(--dark-accent);
  }
}

.mobile-menu-close {
  opacity: 0;
  transition: var(--anim1);

  .mobile-menu-btn.is-open & {
    opacity: 1;
  }

  &:hover,
  &:focus {
    fill: var(--dark-accent);
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);

  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  background-color: var(--main);

  display: flex;
  flex-direction: column;

  opacity: 0;
   z-index: 100;

     transition: opacity 700ms var(--anim1), visibility 700ms var(--anim1),
    transform 1600ms var(--anim1), -webkit-transform 1700ms var(--anim1);

  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-open {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1800ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 1800ms cubic-bezier(0.4, 0, 0.2, 1), transform 1600ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-transform 1600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.mobile-menu-nav-item > a {
  color: #212121;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

a.mobile-menu-nav-current {
  color: #2196f3;
}

.mobile-menu-contacts {
  margin-bottom: 64px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.mobile-menu-contacts-item a {
  color: var(--second-text-color);
}

.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts-item .accent {
  font-size: 34px;
  color: var(--dark-accent);
}

.mobile-menu-socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.mobile-menu-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--dark-accent);
}

.mobile-menu-social-item:not(:last-child) .mobile-menu-social-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
