.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  padding: 63px 24px;
  backdrop-filter: blur(3px);
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform var(--anim1);
}