/* Кастомный скролбар */
html::-webkit-scrollbar {
display: none;
  width: 7px; /* ширина для вертикального скролла */
  height: 7px; /* высота для горизонтального скролла */
  background-color: transparent;
}

/* ползунок скроллбара */
html::-webkit-scrollbar-thumb {
  background-color: var(--dark-accent);
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
}

/* Стрелки */

// html::-webkit-scrollbar-button:vertical:start:decrement {
//   background: linear-gradient(120deg, var(--accent) 40%, rgba(0, 0, 0, 0) 41%),
//     linear-gradient(240deg, var(--accent) 40%, rgba(0, 0, 0, 0) 41%),
//     linear-gradient(0deg, var(--accent) 30%, rgba(0, 0, 0, 0) 31%);
//   background-color: #f6f8f4;
//   border-radius: 9em;
// }

// html::-webkit-scrollbar-button:vertical:end:increment {
//   background: linear-gradient(300deg, var(--accent) 40%, rgba(0, 0, 0, 0) 41%),
//     linear-gradient(60deg, var(--accent) 40%, rgba(0, 0, 0, 0) 41%),
//     linear-gradient(180deg, var(--accent) 30%, rgba(0, 0, 0, 0) 31%);
//   background-color: #f6f8f4;
//   border-radius: 9em;
// }

// html::-webkit-scrollbar-button:horizontal:start:decrement {
//   background: linear-gradient(30deg, var(--accent) 40%, rgba(0, 0, 0, 0) 41%),
//     linear-gradient(150deg, var(--accent) 40%, rgba(0, 0, 0, 0) 41%),
//     linear-gradient(270deg, var(--accent) 30%, rgba(0, 0, 0, 0) 31%);
//   background-color: #f6f8f4;
//   border-radius: 9em;
// }

// html::-webkit-scrollbar-button:horizontal:end:increment {
//   background: linear-gradient(210deg, var(--accent) 40%, rgba(0, 0, 0, 0) 41%),
//     linear-gradient(330deg, var(--accent) 40%, rgba(0, 0, 0, 0) 41%),
//     linear-gradient(90deg, var(--accent) 30%, rgba(0, 0, 0, 0) 31%);
//   background-color: #f6f8f4;
//   border-radius: 9em;
// }
/*  */