.page-footer {
  background-color: var(--dark-background);
  padding: 60px 0;
  display: flex;
}

.footer-container {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-wrapper {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: 93px;
  }
  
}

.logo-footer {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-adress {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    @include column-center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    justify-content: center;
  }
}

.address {
  margin-top: 20px;
  margin-bottom: 60px;
}

.footer-list-item {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    @include column-center;
  }
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list-link,
.footer-list-address-link {
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--anim1);
}

.footer-list-address-link {
  color: var(--main);
}

.footer-social-slogan {
  margin-bottom: 20px;
}

.footer-social-slogan strong {
  color: var(--main);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.footer-media-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-media-icon-footer {
  fill: var(--main);
}

.footer-social-link {
  margin-right: auto;

  @media screen and (min-width: 320px) {
    @include column-center;
    margin-bottom: 60px;
  }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 0;
  }

    @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer-subscribe {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    @include column-center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
 text-align: center;
    margin: auto;
  }
}

form[name='subscribe-form'] {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    @include column-center;
  }
}

.submit-button-footer {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  transition: background-color var(--anim1);

  &:hover,
  &:focus {
    transform: scale(1.001);
  }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe-icon-footer {
  margin-left: 10px;
  text-align: center;
  fill: var(--main);
}
