.section-header {
  border-bottom: 1px solid var(--header-line);
}

.header-container {
  display: flex;
  align-items: center;

  padding: 10px 15px;

  @media screen and (min-width: 768px) {
    padding: 14px 15px;
  }

   @media screen and (min-width: 1200px) {
    padding: 24px 15px;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--main);

  transition: background-color var(--anim1), backdrop-filter var(--anim1), box-shadow var(--anim1);
}