.modal {
  background: var(--main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 450px;
  max-width: 100%;
  height: 609px;
  padding: 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: auto;
  }

  &__title {

    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--dark-text);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;

    @media screen and (min-width: 1200px) {
      width: 448px;
      line-height: 1.15;
    }
  }
}

.singup-form {
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  position: relative;
}

.form-field-container:not(:last-of-type) {
  margin-bottom: 10px;
}

.form-field-container:nth-last-child(3) {
  margin-bottom: 20px;
}

.form-field-container:last-of-type {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.form-field-label {
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  display: inline-block;
  margin-bottom: 4px;
}

.form-field,
.form-field-area {
  display: block;
  width: 100%;
  height: auto;
}

.form-field {
  position: relative;
  max-height: 40px;
}

.form-field input,
.form-field-area textarea {
  width: inherit;
  height: inherit;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--anim1);
}

.form-field input {
  padding: 12px 8px 12px 42px;
  width: 100%;
  outline: none;
}

.form-field-area textarea {
  width: 100%;
  max-height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: none;
}

.form-field input:hover,
.form-field input:focus-within,
.form-field input:not(:placeholder-shown),
.form-field-area textarea:hover,
.form-field-area textarea:focus-within,
.form-field-area textarea:not(:placeholder-shown) {
  border-color: var(--dark-accent);
}

.form-field input:not(:placeholder-shown):invalid,
.form-field-area textarea:not(:placeholder-shown):invalid {
  border-color: var(--error);
}

.form-field svg {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 12px;
  transition: fill var(--anim1);
}

.form-field:hover svg,
.form-field:focus-within svg,
.form-field input:not(:placeholder-shown) + svg {
  fill: var(--dark-accent);
}

.submit-button-modal {
  display: block;
  min-width: 180px;
  padding: 10px 55px;
  margin: 0 auto;

  &:hover,
  &:focus {
    background-color: var(--accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 2px 6px 6px rgba(0, 0, 0, 0.15);
  }
}
